/*@font-face {
	font-family: MyFont;
	src: url("../fonts/ostrich-sans-inline-regular.woff") format('woff'),
		url("../fonts/ostrich-sans-inline-regular.ttf") format('truetype'),
		url("../fonts/ostrich-sans-inline-regular.svg") format('svg');
} */

@font-face {
	font-family: MyFont;
	src: url("../fonts/PT_Sans-Narrow-Web-Regular.ttf") format('truetype');
}

body {
	width: 50%;
	margin: auto;
	font-family: 'MyFont', Times New Roman, Times, Seriif;
}

.myVideo {	/* background video */
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}

.companyBG { /* Background for company name */
	color: #FFFFFF;  
	text-align: center;
	font-size: 250%;
	background-image: url("../img/companylogoBG.jpg");
	width: 100%;
	margin: auto auto;
	background-size: cover;
	padding-top: 1%;
	padding-bottom: 1%;
}

h2 {
	margin: 0;
}

.write {
	position: absolute;
	top: 100%;
}
	
.product {
	width: 100%; 
	display: block;
}
.header {
	background-color: #2699FB;
	text-align: center;
	width: 100%;
	font-size: 800%;
	text-transform: uppercase; 
	color: #FFFFFF; 
}
.footer {
	position: bottom; 
	left: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	font-size: 150%;
	background-color: #000000; 
	color: #FFFFFF; 
	text-align: center; 
}

/* Contact */

.contactFormFieldset {
	margin-left: 7%;
	margin-right: 7%;
	font-size: 100%
}

.contact {
	background-color: #2699FB;
	text-align: center;
	text-transform: uppercase; 
	color: #FFFFFF; 
	font-size: 500%;
} 

.color {
	color: #444444;
}

.contactInfoBG {
	background-color: #FFFFFF;
}

input {
	border-width: 0;
}

textarea {
	border-width: 0;
}

.submitButton {
	background-color: #2699FB;
	color: #FFFFFF;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 3%;
	margin-left: 7%;
	margin-right: 7%;
	line-height: 200%;
	width: 86%;
	font-size: 150%;
}

.generalInquiries {
	float: right;
	width: 65%;
	font-size: 150%
}

.formName {
	width: 90%;
	font-size: 150%;
}

.formMargin {
	margin-top: 2%;
}

.selectTopic {
	font-size: 125%;
	color: #AAAAAA;
}

.margin {
	margin: 2%;
	margin-top: 1%;
}

.moreInfo {
	font-size: 200%
}

/* Navigation Bar */

.menu {
	display: flex;
	background-color: #707070;
	justify-content: center;
	margin: 0;
}

.menuItem {
	display: block;
	margin: 1% 1%;
	text-transform: uppercase;
	font-size: 200%;
	text-align: center;
	padding-left: 2%;
	padding-right: 2%;
}

.menuItem a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Product */

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	margin: auto;
	background-color: #FFFFFF
} 

.productImage {
	width: 30%;
	height: 200px;
	padding: 1%;
}

.paired {
	display: block;
}

#productCatalog {
	background-color: #2699FB;
	text-align: center;
	font-size: 450%;
	text-transform: uppercase; 
	color: #FFFFFF; 
} 

/* THIS IS MEDIA QUEARIES */


@media screen and (max-width: 960px) { /* for tablet */
	html {
	background-image: none;
	}
	
	body {
	width: 100%;
	}
	
	.tabletHide {
	display: none;
	}	
	
	.mobileHeader {
		display: none;
	}
	.header {
	font-size: 450%;
	}
	
	.paired {
		display: flex;
	}
	
	.myVideo {
	display: none;
	}
	
	.paired-item {
	flex: 30%;
	padding: 1%;
	}

	
	
	/* product */
	
	.productImage {
		width: 40%;
	}
	
	.product {
	height: 100%;
	}
	
	#productCatalog {
		display: none;
	}
	
	/* Contact */ 
	
	.generalInquiries {
	float: left;
	width: 100%;
	font-size: 150%
	}
	
	.moreInfo {
		display: none;
	}
	
} 

@media screen and (max-width: 414px) { /* for mobile */
	html {
	background-image: none;
	}
	
	body {
	width: 100%;
	}
	
	.myVideo {
	display: none;
	}
	
	.header {
	font-size: 240%;
	}
	
	.companyBG {
	font-size: 300%;
	}
	
	.headerHide {
	display: none;
	}

	.productMobile {
	background-color: #FFFFFF;
	}
	
	.Image {
		margin-bottom: 5%;
	}
	
	.footer {
		font-size: 100%;
	}
	
	/* Product */

	.tabletHide{
	display: block;
	}
	
	.paired {
		display: block;
	}
	
	.paired-item {
		padding: 0%;
	}
	
	.productImage {
	width: 100%;
	padding: 1%;
	}
	
	.product {
		margin-bottom: 1%;
		margin-top: 1%;
	} 
	
	/* Contact */
	
	.submitButton {
	line-height: 200%;
	width: 86%;
	font-size: 150%;
	}
	
	.formName {
	width: 80%;
	font-size: 150%;
}
	.moreInfo {
	display: none;
	}
	
	.generalInquiries {
	float: left;
	font-size: 100%
	}
	
	#productCatalog {
	display: block;
	font-size: 200%;
	}
}






	



	
