/*@font-face {
	font-family: MyFont;
	src: url("../fonts/ostrich-sans-inline-regular.woff") format('woff'),
		url("../fonts/ostrich-sans-inline-regular.ttf") format('truetype'),
		url("../fonts/ostrich-sans-inline-regular.svg") format('svg');
} */

@font-face {
	font-family: MyFont;
	src: url("../fonts/PT_Sans-Web-Regular.ttf") format('truetype');
}

html {
	background-image: url("../img/background.jpeg");
	background-repeat: no repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	margin: auto;
}
body {
	width: 50%;
	margin: auto;
	font-family: 'MyFont';
}

.companyBG {
	background-image: url("../img/companylogoBG.jpg");
	width: 100%;
	background-size: cover;
	font-size: 500%;
}
h1 {
	color: #FFFFFF; /* this will be color white */
	text-align: center;

}
.product {
	width: 100%; 
	display: block;
}
.header {
	background-color: #2699FB;
	text-align: center;
	font-size: 540%;
	text-transform: uppercase; /* All caps*/
	color: #FFFFFF; /* Change to color white */
}
.footer {
	position: bottom; /* footer will be a the bottom of the page */
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 150%;
	background-color: #000000; /* Change to color black */
	color: #FFFFFF; /* Change to color white */
	text-align: center; /* text will be at the center */
}

/* Contact */

.color {
	color: #444444;
}

.contactInfoBG {
	background-color: #FFFFFF;
}

.submitButton {
	background-color: #2699FB;
	color: #FFFFFF;
	text-align: center;
	margin-top: 1%;
	margin-bottom: 3%;
	margin-left: 7%;
	margin-right: 7%;
	line-height: 200%;
	width: 86%;
	font-size: 200%;
}

input {
	border-width: 0px;
}
.generalInquiries {
	float: right;
	width: 65%;
	font-size: 150%
}

.formName {
	width: 90%;
	font-size: 150%;
}

.formMargin {
	margin-top: 2%;
	border-width: 0px;
}

.input {
	border-width: 0px;
}

.infoBox {
	margin-left: 7%;
	margin-right: 7%;
	font-size: 150%
}

.selectTopic {
	font-size: 120%;
	color: #AAAAAA;
}

.margin {
	margin: 2%;
	margin-top: 1%;
}

.moreInfo {
	font-size: 200%
}

.menu {
	display: flex;
	background-color: #707070;
	justify-content: center;
	margin: 0%;
}

.menuItem {
	display: block;
	margin: 0% 1%;
	text-transform: uppercase;
	font-size: 150%;
}

.menuItem a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Product */
.imageBox {
	background-color: #FFFFFF;
}

.flex-container {
	display: flex;
	height: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	margin: auto;
} 

.productImage {
	width: 30%;
	height: 300px;
	margin: auto;
	padding: 5px;
	max-width: 400px;
}

.paired {
	display: block;
}

.paired-item {
	flex: 1 1 0;
}

/* THIS IS MEDIA QUEARIES */

@media screen and (max-width: 1024px) { /* for tablet */
	.header {
	font-size: 400%;
	}
}



@media screen and (max-width: 960px) { /* for tablet */
	html {
	background-image: none;
	}
	
	body {
	width: 100%;
	}
	
	.tabletHide {
	display: none;
	}	
	
	.mobileHeader {
		display: none;
	}
	.header {
	font-size: 450%;
	}
	
	.productImage {
		width: 40%;
	}
	.paired {
		display: flex;
	}
} 

@media screen and (max-width: 376px) { /* for mobile */
	html {
	background-image: none;
	}
	
	body {
	width: 100%;
	}
	
	.header {
	font-size: 260%;
	}
	
	.headerHide {
	display: none;
	}

	.productHide {
	display: none;
	}
	
	.tabletHide{
	display: block;
	}
	
	.productMobile {
	background-color: #FFFFFF;
	}
	
	.Image {
		margin-bottom: 5%;
	}
	
	.productImage {
		width: 100%;
	}
	
	.paired {
		display: block;
	}
}






	



	
